@font-face { font-family: primiterus; src: url("/fonts/primiterus.otf"); } 
body {
    /*background: rgba(2,0,5,1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,0,5,1)), color-stop(100%, rgba(9,1,5,1)));
    background: -webkit-linear-gradient(left, rgba(2,0,5,1) 0%, rgba(9,1,5,1) 100%);
    background: linear-gradient(to right, rgba(2,0,5,1) 0%, rgba(9,1,5,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020005', endColorstr='#090105', GradientType=1 ); 
 */
   background: rgba(2,0,5,1);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(2,0,5,1)), color-stop(69%, rgba(9,1,5,1)), color-stop(100%, rgba(9,1,5,1)));
background: -webkit-linear-gradient(left, rgba(2,0,5,1) 0%, rgba(9,1,5,1) 69%, rgba(9,1,5,1) 100%);
background: linear-gradient(to right, rgba(2,0,5,1) 0%, rgba(9,1,5,1) 69%, rgba(9,1,5,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020005', endColorstr='#090105', GradientType=1 );
  
    
    
    
    font-family: 'Source Code Pro';
/*background: -webkit-linear-gradient(141deg, #020005, #090105, #14030b, #090105, #020005);
background: linear-gradient(309deg, #020005, #090105, #14030b, #090105, #020005);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName { 
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}*/
}
/*h1 {
    font-family: 'Quasith' , sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #F5591B;
    margin-top: 2em;   
    text-align: center;
    display: inline-block;
    padding-top:10px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 7px;
    border: 0.1em solid #F5591B;   
}*/
h1 {
    font-family: 'primiterus' , sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #FF4000;
    margin-top: 2em;   
    text-align: center;
    display: inline-block;
    padding: 0.35em 0.3em 0.25em 0.3em;
    border: 0.05em solid #FF4000;   
}
#titlu{
    display: block;
    text-align: center;
}

h2{
     margin-bottom: 5em;
    font-family: 'Source Code Pro';
    font-size: 1.2em;
   
    text-align: center;
}
p{
 font-size:2em;   
}
.txt{
    
     word-break: break-all;   
  
}
::-moz-selection {
    background: #F5591B;
    color: #090105;
    text-shadow: none;
}
::selection {
    background: #FF4000;
    color: #090105;
    text-shadow: none;
}
a {  
    color: #FF4000;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
a:hover{
color: #333333;
}
a:active{
    color: #333333;
}
a:visited{
    color: #FF4000;
}
#social ul{
 padding: 0;
    margin: 0;
}
#social li {
    display: inline;
    padding: 1em;
    
    list-style: none;
    font-size: 1.5em;
}
#landing footer{
 float: right; 
    padding: 0;
}
.center{
 text-align:center;   
}
.links{
 /*margin-bottom: 5em;   */
}
.social{
font-size: 1.5em;
    margin-bottom: 20em;
}
#landing {
 /* Location of the image */
  background-image: url("/img/wreck.jpg");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}
