$background-color: #070418;
$foreground-color: #38345c;
//$primary-color: #ff001d;
$primary-color: #ee143c;
@font-face {
    font-family: primiterus;
    src: url("/fonts/primiterus.otf");
}

@font-face {
    font-family: Modeka;
    src: url("/fonts/Modeka.otf");
}

::selection {
    background: transparent;
    color: $primary-color;
    text-shadow: none;
}

body {
    background: $background-color;
    font-family: 'Source Code Pro';
}

#landing {
    background-image: url("/img/wreck.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

#titlu {
    display: block;
    text-align: center;
    @media(min-width: 62em) {
        margin-top: 1em;
    }
}

h1 {
    font-family: 'primiterus';
    font-size: 3em;
    font-weight: 700;
    color: $primary-color;
    margin-top: 1.5em;
    text-align: center;
    cursor: default;
    display: inline-block;
    padding: 0.35em 0.3em 0.25em 0.3em;
    border: 0.07em solid $primary-color;
}

h2 {
    margin-bottom: 1em;
    color: $foreground-color;
    font-size: 1.2em;
    text-align: center;
    cursor: default;
}

#citat {
    font-family: "Modeka";
    font-size: 3em;
    color: $foreground-color;
    margin: 2em 1em;
    text-align: center;
    display: block;
    padding: 0.3em 3em;
    cursor: default;
    @media(max-width: 767px) {
        font-size: 2.5em;
        margin: 0.5em;
        padding: 0;
    }
    @media(min-width:62em) {
        font-size: 3.1em;
        margin-top: 4em;
        margin-bottom: 4em;
    }
}

a {
    transition: all 0.2s linear;
}

.social {
    font-size: 1.5em;
    margin-bottom: 2em;
    margin-top: 2em;
    cursor: default;
    @media(max-width: 767px) {
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-top: 1em;
    }
    a {
        margin: 0 0.07em 0;
        color: $primary-color;
        &:active {
            color: $foreground-color;
        }
        &:visited {
            color: $primary-color;
        }
        &:hover {
            color: $foreground-color;
        }
    }
}

.fa-paper-plane {
    font-size: 0.9em;
}


/*
.fa-codepen {
    font-size: 0.9em;
    position: relative;
    bottom: 0.09em;
}
*/

.shpan {
    color: $foreground-color;
}

footer {
    margin-bottom: 2em;
    cursor: default;
    a {
        color: $foreground-color;
        &:visited,
        &:hover {
            color: $foreground-color;
        }
    }
}