body {
    background-color: #3d404a;
    font-family: 'Source Code Pro';
}
h1 {
    color: #62636a;
    text-align: center;
}
a {  
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}