/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 16pt;
        
	}

    /* List */

		ul
		{
		}

			ul.icons
			{
			}	
			
				ul.icons li
				{
				}

				ul.icons li a
				{
					width: 3em;
                    height:1.2em;
				}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin-left: 3em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-left: 3em;
	}
#main > section
		{
			padding: 3em 0;
            
		}
