$border: 1.4rem;

// $font1it: 'KlinicBoldItalic', serif;
$font1: 'KlinicBold', serif;
// $font2: 'KlinicLight', serif;
$font2it: 'KlinicLightIt', serif;
// $font3: 'KlinicBook', serif;
// $font3it: 'KlinicBookIt', serif;
// $font4 : "Lato", sans-serif;

// $bg: #3a3740;
// $fg: #f5ddb4;
// $c0: #fff8f0;
// $c01: #988a7b;

$bg: #3a3740;
$fg: #f5ddb4;
$c0: #fff8f0;
$c01: #988a7b;
