// @import "../bower_components/bootstrap/scss/bootstrap-reboot";
// @import "../bower_components/bootstrap/scss/bootstrap-grid";
@import "mixins";
@import "utilities";
@import "variables";
// @import "../bower_components/bootstrap/scss/type";
// @import "../bower_components/animate-sass/animate";
// Typesettings
// $font-sans: 'Sintony', Helvetica, Arial, sans-serif;
// $font-serif: Georgia, 'Times New Roman', serif;
// $font-mono: 'Lucida Console', Monaco, monospace;
// $text-color: #fff;
// $base-vertical-unit: 6px;
// $base-line-multi: 4;
// $base-font-size: 16px;
// $ms-ratio: 1.414;
// $paragraph-indent: false;
// $paragraph-justify: true;
// $load-typesetted: true;
// @import "../bower_components/typesettings/typesettings";
* {
  box-sizing: border-box;
}
.bag {
  //    padding: 15px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}
.bag.fluid {
  margin: 0 auto;
}
@font-face {
  font-family: primiterus;

  src: url(/fonts/primiterus.otf);
}
@font-face {
  font-family: Modeka;

  src: url(/fonts/Modeka.otf);
}
body {
  margin: 0;

  background: $background-color;

  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 1.42857143;
}
 ::selection {
  color: $primary-color;
  background: transparent;
  text-shadow: none;
}
@import "partials/header";
@import "partials/navbar";
@import "partials/landing";
