<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daniel Pintilei</title>
  <meta name="author" content="Daniel Pintilei">
  <meta name="description" content="Follower of Christ // Front-end Developer &amp; Designer">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>

  <div class="top-border"></div>
  <div class="bottom-border"></div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.224699 13.683798" height="3.861872mm" width="7.6834149mm" class="top-border-e">
    <g transform="translate(-252.10194,-435.57818)">
      <g style="clip-rule:evenodd;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5" transform="translate(252.11782,443.98365)">
        <path d="m 25.673344,0.48301092 0.04815,-8.88716082 -24.0570549,-0.00132 0.00176,8.88319591 14.3524259,3.52449429 z" style="fill:#1c0e3f;fill-opacity:1"></path>
        <path d="M 1.044,1.096 C 4.935,1.071 6.28,1.598 7.429,1.942 10.248,2.787 12.133,4.901 17.148,4.033 21.474,3.284 22.2,0.755 26.149,1.135" style="fill:none;stroke:#16e99e;stroke-width:2.08999991px;stroke-opacity:1"></path>
      </g>
    </g>
  </svg>
  <svg class="bottom-border-e" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.224699 13.670889" height="3.8582287mm" width="7.6834149mm">
     <g transform="matrix(-1,0,0,-1,279.32664,449.24907)">
       <g style="clip-rule:evenodd;fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5" transform="translate(252.11782,443.98365)">
         <path d="m 25.673344,0.48301092 0.04815,-8.88716082 -24.0570549,-0.00132 0.00176,8.88319591 8.3024929,3.12274089 z" style="fill:#1c0e3f;fill-opacity:1" />
         <path d="M 1.044,1.096 C 3.7457417,1.2016627 4.0149094,1.2149081 4.9811594,1.3215436 5.9474094,1.4281791 6.8545,1.5100419 7.429,1.6820419 c 2.819,0.845 -0.1794068,2.8546 4.685267,1.3583908 2.923595,-0.8991988 2.814688,-0.86576 4.764428,-1.2730356 C 18.828436,1.3601215 22.860455,1.0793129 26.149,1.135" style="fill:none;stroke:#16e99e;stroke-width:2.08999991px;stroke-opacity:1" />
       </g>
     </g>
   </svg>

  <div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.29513 117.29489" height="125.115" width="125.115" class="logo__img">
      <path d="M34.35 23.924v6.944h-6.945v13.89h6.944v27.78h-6.945v13.888h6.944v6.945h13.89v-6.947h13.888l27.762-27.77-27.76-27.785H48.24v-6.944H34.35zm13.89 20.834h8.132l13.88 13.9-13.88 13.88H48.24v-27.78zm6.15 6.746V65.79l7.143-7.143-7.143-7.142z" fill="#412192"/>
      <path class="logo__border" fill="none" stroke="#412192" stroke-width="14.057" d="M7.028 7.028h103.24v103.24H7.027z"/>
    </svg>
  </div>

  <div class="menu">
    <a href="http://danielpintilei.cf/Cake" class="menu__link">
      <img src="img/cake-simple.svg" alt="cake theme icon" class="menu__img">
    </a>
  </div>

  <div class="landing">
    <div class="landing-inner">
      <div class="titlu">
        <h1 class="titlu__h">Cut to the chase.</h1>
      </div>
      <div class="social">
        <a href="https://twitter.com/daniel_pintilei" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://instagram.com/daniel_pintilei" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="http://www.pinterest.com/danielpintilei" target="_blank">
          <i class="fa fa-pinterest"></i>
        </a>
        <a href="https://medium.com/@danielpintilei" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
        <a href="https://www.facebook.com/DanielPintileiArt" target="_blank">
          <i class="fa fa-facebook-official"></i>
        </a>
        <a href="https://www.behance.net/DanielPintilei" target="_blank">
          <i class="fa fa-behance"></i>
        </a>
        <a href="http://codepen.io/DanielPintilei/" target="_blank">
          <i class="fa fa-codepen"></i>
        </a>
        <a href="https://github.com/DanielPintilei" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://ro.linkedin.com/in/danielpintilei" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="mailto:danielpintilei@outlook.com">
          <i class="fa fa-paper-plane"></i>
        </a>
      </div>
    </div>
  </div>


</body>

</html>
