* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: $bg;
}
@font-face {
  font-family: Calendas;
  src: url("/fonts/Calendas_Plus.otf");
}
 ::selection {
  color: $c0;
  background: transparent;
  text-shadow: none;
}
a {
  transition: all 0.2s linear;
  text-decoration: none;
}
