* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: $bg;
  font-family: 'Source Code Pro';
  font-size: 14px;
}
.container {
  //    padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container.fluid {
  margin: 0 auto;
}
@font-face {
  font-family: Modeka;
  src: url("/fonts/Modeka.otf");
}
 ::selection {
  color: $c1;
  background: transparent;
  text-shadow: none;
}
a {
  transition: all 0.2s linear;
  text-decoration: none;
}
