#landing {
  height: 100vh;
  background-color: $bg;
  background: linear-gradient(40deg, $bg, $fg);
  background-size: 100% 100%;
  border: 1.4em solid $bg;
}
.titlu {
  text-align: center;
  // @media(min-width: 1367px) {
  //   padding-top: 1em;
  // }
}
.titlu h1 {
  margin: 0.67em 0;
  line-height: 1.1;
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 0.45em 0.5em 0.25em;
  cursor: default;
  text-align: center;
  color: $c1;
  border-radius: 4px;
  font-family: 'Josefin Slab', serif;
  font-size: 4em;
  // @media(min-width: 700px) {
  //   position: relative;
  //   right: 2em;
  //   bottom: 0.7em;
  // }
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  color: $c1;
  margin-bottom: 6em;
}
.social {
  margin-top: 4em;
  margin-bottom: 5em;
  cursor: default;
  font-size: 1.5em;
  // @media(max-width: 767px) {
  //   margin-top: 1em;
  //   margin-bottom: 1em;
  //   font-size: 1.5em;
  // }
  i {
    padding-top: 0.25em;
    font-size: 1.4em;
  }
  a {
    margin: 0 0.07em;
    color: $fg;
    &:active {
      color: $fg;
    }
    &:visited {
      color: $fg;
    }
    &:hover {
      color: rgba($fg, 0.6);
    }
  }
}
.square {
  display: inline-block;
  width: 4em;
  height: 4em;
  margin-bottom: 0.8em;
  padding: 1em;
  background-color: $bg;
}
footer {
  margin-bottom: 2em;
  cursor: default;
  position: static;
  // @media(min-width: 700px) {
  //   position: fixed;
  //   bottom: 0;
  //   left: 75%;
  //   margin-left: -25%;
  // }
  span {
    color: $c1;
  }
  a {
    color: $c1;
    &:visited {
      color: $c1;
    }
    &:hover {
      text-decoration: underline;
      color: $c1;
    }
  }
}
.footer-links {
  margin-bottom: 2.1em;
}
// @media(min-width: 700px) {
// #twitter {
//   position: absolute;
//   top: 30%;
//   left: 20%;
// }
// #instagram {
//   position: absolute;
//   top: 50%;
//   left: 10%;
// }
// #pinterest {
//   position: absolute;
//   top: 60%;
//   left: 30%;
// }
// #behance {
//   position: absolute;
//   top: 35%;
//   left: 38%;
// }
// #codepen {
//   position: absolute;
//   top: 45%;
//   left: 52%;
// }
// #github {
//   position: absolute;
//   top: 50%;
//   left: 55%;
// }
// #linkedin {
//   position: absolute;
//   top: 30%;
//   right: 20%;
// }
// #plane {
//   position: absolute;
//   top: 50%;
//   right: 10%;
// }
// }
