.navbar {
  width: 10em;
  margin: 3em auto;
  padding: 1.2em 0;
  color: $foreground-color;

  border-top: 1px solid $foreground-color;
  border-bottom: 1px solid $foreground-color;
  a {
    color: $foreground-color;
    font-size: 1.2em;
    font-weight: 500;
    padding: 1em 0.35em 1em;
    &:hover {
      border-top: 2px solid $primary-color;
      border-bottom: 2px solid $primary-color;
    }
  }
  span {
    cursor: default;
  }
}
