/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	/* Button */
		
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			-ms-behavior: url('css/ie/PIE.htc');
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#nav
	{
	}
	
		#nav ul
		{
		}
		
			#nav ul li
			{
			}
			
				#nav ul li a
				{
					color: #888;
				}

					#nav ul li a.active
					{
						background: #1C2022;
					}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

		#main > section
		{
		}
		
			#main > section.cover
			{
				background-position: auto;
				-ms-behavior: url('css/ie/backgroundsize.min.htc');
			}

/*********************************************************************************/
/* Side Panel                                                                    */
/*********************************************************************************/

	#sidePanelToggle
	{
	}
	
		#sidePanelToggle .toggle
		{
			background-color: #888;
		}