$border = 1.4rem;
$font1 = 'Calendas', serif;
$bg = #1c0e3f;
$fg = #16e99e;
$c0 = $fg;
$c01 = lighten($bg, 23%);

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: $bg;
}
@font-face {
  font-family: Calendas;
  src: url("/fonts/Calendas_Plus.otf");
}
 ::selection {
  color: $c0;
  background: transparent;
  text-shadow: none;
}
a {
  transition: all 0.2s linear;
  text-decoration: none;
}
.top-border {
  position: fixed;
  width: 100%;
  height: $border;
  background-color: $fg;
}
.bottom-border {
  position: fixed;
  width: 100%;
  height: $border;
  background-color: $fg;
  bottom: 0;
}
.top-border-e {
  position: fixed;
  top: -89px;
  left: -2vw;
  width: 285px;
  height: auto;
  z-index: 2;
  @media (min-width: 400px) {
    left: 12vw;
  }
}
.bottom-border-e {
  position: fixed;
  bottom: -89px;
  right: 2vw;
  width: 285px;
  height: auto;
  z-index: 2;
}
@-moz-document url-prefix() {
  .top-border-e {
    top: -91px;
  }
  .bottom-border-e {
    bottom: -91px;
  }
}
.top-border-e__bg {
  fill: $bg;
}
.top-border-e__stroke {
  fill: none;
  stroke: $fg;
  stroke-width:2.08999991px;
}
.bottom-border-e__bg {
  fill: $bg;
}
.bottom-border-e__stroke {
  fill:none;
  stroke: $fg;
  stroke-width:2.08999991px;
}
.logo {
  position: fixed;
  top: $border * 2;
  left: $border * 2;
  width: 3em;
}
.logo__img {
  width: 100%;
  height: auto;
}
.logo__d {
   fill: $c01;
}
.logo__border {
  fill: none;
  stroke: $c01;
  stroke-width: 14.057px;
  stroke-dasharray: 120, 15;
  stroke-dashoffset: 135;
  animation: logo 1.5s infinite linear;
}
@keyframes logo {
  to {
    stroke-dashoffset: 0;
  }
}
.landing {
  min-height: 100vh;
  width: 100%;
  border: $border solid $fg;
  border-top: none;
  border-bottom: none;
  background-color: $bg;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 768px) {
    padding-top: 50px;
  }
}
.landing-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.titlu {
  color: $c0;
  cursor: default;
}
.titlu__h {
  margin-bottom: 0;
  font-family: $font1;
  font-size: 2.4rem;
  font-weight: 500;
  border-bottom: 7px solid $c01;
  @media screen and (min-width: 700px) {
    font-size: 3rem;
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 820px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
  a {
    display: inline-block;
    margin-right: 0.78rem * 2;
  }
  svg {
    padding-top: 1em;
    width: 45px;
    height: auto;
    fill: none;
    stroke: $c01;
    stroke-width: 1.8px;
  }
  .behance {
    padding-top: 1.2em;
  }
}
.social__hover {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  .social svg:hover & {
    stroke: $fg;
    animation: social 1s forwards;
  }
}
@keyframes social {
  to {
    stroke-dashoffset: 0;
  }
}
.social__hover--l {
  stroke-dasharray: 270;
  stroke-dashoffset: 270;
}
